@using NuGetFeed.ViewModels
@model MyFeedViewModel

@{
    ViewBag.Title = "My Feed - NuGet Feed";
}

<div class="page-header">
<h1>
    Packages in my feed
    @if (Model.Packages.Count > 0)
    {
        <small>
            <img src="/Content/Images/logo_16x16.png"/> <a href="@Url.Action("Rss")/@Model.FeedId">Subscribe to feed</a>
        </small>
    }
</h1>
</div>

@if (Model.Packages.Count > 0)
{
    foreach (var item in Model.Packages)
    {
         <div class="well">
            <a class="close" title="Remove from my feed" href="@Url.Action("RemovePackage")/@item.Id">×</a>
            <h3><a href="@item.GalleryDetailsUrl">@item.Title</a></h3>
            <p>@item.Description</p>
         </div>
    }
}
else
{
    <p>
        <div class="alert-message block-message info">
            <p><strong>You don't have any packages in your feed.</strong></p>
            <p>Search for packages and add them to your customized feed to follow all packages in a single feed.</p>
        </div>
    </p>
}

<p>
    
</p>

<script type="text/javascript">
    $(document).ready(function () {
        $('#nav-myfeed').addClass('active');
    });
</script>