@{
    ViewBag.Title = "Public Feeds - NuGet Feed";
}

<div class="page-header">
    <h1>
        Public Feeds
        <small>- feeds for everyone</small>
    </h1>
</div>

<div class="well">
    <h3><a href="@Url.Action("PublicRssRecentReleases", "Feed")">Recent Releases</a> <img src="/Content/Images/logo_16x16.png"/></h3>
    <p>All packages from NuGet.org ordered by descending release date. If you ever find yourself browsing NuGet.org sorted by "Recent", this is the feed for you!</p>
    <p>Great for discovering new packages or keeping up-to-date.</p>
</div>

<div class="well">
    <h3><a id="byAuthorLink" href="@Url.Action("PublicRssRecentReleasesByAuthor", "Feed")">Recent Releases by</a> <input type="search" placeholder="Author" id="author" /> <img src="/Content/Images/logo_16x16.png"/></h3>
    <p>All packages from a specified author ordered by descending release date. If you digg anything published by Microsoft, Ayende or third author, this is the feed for you!</p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#nav-publicfeeds').addClass('active');
        $('#byAuthorLink').click(function () {
            var existingHref = $(this).attr('href');
            var newHref = existingHref + '/' + $('#author').val();
            $(this).attr('href', newHref);
        });

        function findValue(li) {
            if (li == null) return alert("No match!");

            // if coming from an AJAX call, let's use the CityId as the value
            if (!!li.extra) var sValue = li.extra[0];

            // otherwise, let's just display the value in the text box
            else var sValue = li.selectValue;
        }

        function selectItem(li) {
            findValue(li);
        }

        $( "#author" ).autocomplete({
			source: "@(Url.Action("SearchAuthors", "Feed"))",
			minLength: 2
		});
    });
</script>

@section style {
    <link href="@Url.Content("~/Content/Css/ui-lightness/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
}

@section script {
    <script src="@Url.Content("~/Content/Scripts/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
}