@{
    ViewBag.Title = "NuGet Feed";
}

<script>utmx_section("arrow")</script>
<div class="row">
    <div class="span12 columns offset4">
        <img src="/Content/Images/curved-arrow.png" style="float: left"/> 
        <h2 style="padding-top: 33px; margin-left: 150px;">
            Search for the packages you want to follow
        </h2>
    </div>
</div>
</noscript>

<br/>

<div class="hero-unit">
    <h1>
        Welcome to NuGet Feed
        <small>
            <a href="http://twitter.com/nugetfeedorg"><img src="@Url.Content("/Content/Images/twitter.png")" width="125" height="25" title="Follow us on Twitter" alt="Follow us on Twitter" /></a>
        </small>
    </h1>
    <h2>Keep your dependencies fresh</h2>
    <p>Add your favorite NuGet packages to your personalized feed and never miss another update (or follow the releases until a stable package is released).</p>
</div>

<div class="page-header">
    <h2>Get Started</h2>
</div>

<div class="row">
    <div class="span-one-third">
        <div class="well">
            @Html.Action("FrontpageMostFollowed")
        </div>
    </div>
    <div class="span-one-third">
        <div class="well">
            @Html.Action("FrontpageNewReleases")
        </div>
    </div>
    <div class="span-one-third">
        <div class="well">
            <script>
                new TWTR.Widget({
                    version: 2,
                    type: 'search',
                    search: '#nuget',
                    interval: 20000,
                    title: '',
                    subject: '#nuget',
                    width: 260,
                    height: 182,
                    theme: {
                        shell: {
                            background: '#8ec1da',
                            color: '#ffffff'
                        },
                        tweets: {
                            background: '#ffffff',
                            color: '#444444',
                            links: '#1985b5'
                        }
                    },
                    features: {
                        scrollbar: false,
                        loop: true,
                        live: true,
                        hashtags: true,
                        timestamp: true,
                        avatars: true,
                        toptweets: true,
                        behavior: 'default'
                    }
                }).render().start();
            </script>
        </div>
    </div>
</div>

<div class="page-header">
    <h2>Features</h2>
</div>

<div class="row">
    <div class="span3"><img src="@("/Content/Images/scr_search.png")" width="160" height="100" alt="Search NuGet packages" /></div>
    <div class="span5">
        <h3>Search NuGet Packages</h3>
        <p>On NuGetFeed.org you can search NuGet package feeds directly. You will be able to see all the info from the official NuGet site, without ever leaving NuGetFeed.org.</p>
    </div>
    <div class="span3"><img src="@("/Content/Images/scr_myfeed.png")" width="160" height="100" alt="Personalized feed" /></div>
    <div class="span5">
        <h3>Personalized Feed</h3>
        <p>Create your personalized feed containing your favorite packages. Login using your prefered OpenID provider to get started.</p>
    </div>
</div>
<div class="row">
    <div class="span3"><img src="@("/Content/Images/scr_public.png")" width="160" height="100" alt="Public feeds" /></div>
    <div class="span5">
        <h3>Public Feeds</h3>
        <p>In this section, you can follow one ore more public feeds. How about following all new releases of any NuGet package. Or what about following feeds from a specific developer only?</p>
    </div>
    <div class="span3"><img src="@("/Content/Images/scr_studio.png")" width="160" height="100" alt="Visual Studio integration" /></div>
    <div class="span5">
        <h3><a href="http://visualstudiogallery.msdn.microsoft.com/10a7dc16-7a74-4435-9b85-989e12ceac9c" target="_blank" onclick="recordOutboundLink(this, 'Outbound Links', 'Visual Studio add-in'); return false;">Visual Studio Add-in</a></h3>
        <p>With NuGet Feed for Visual Studio, you will be able to export all your referenced NuGet packages to NuGetFeed.org. Simply right-click the References folder and export directly to NuGetFeed.org.</p>
    </div>
</div>
<div class="row">
    <div class="span3"><img src="@("/Content/Images/scr_chrome.png")" width="160" height="100" alt="Chrome plugin" /></div>
    <div class="span5">
        <h3><a href="https://chrome.google.com/webstore/detail/ofkfoioalklahgiocnejhkpbdkmccgae" target="_blank" onclick="recordOutboundLink(this, 'Outbound Links', 'Chrome Extension'); return false;">Google Chrome Extension</a></h3>
        <p>Install the NuGet Feed extension in Google Chrome to add RSS links on NuGet.org. The NuGet Feed Chrome Extension also works with your favorite Chrome feed extension, by adding an alternate URL to all package pages on NuGet.org.</p>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#nav-home').addClass('active');
    });
</script>

@section meta {
    <meta name="robots" content="index, follow" />
}

@section script {
<!-- Google Website Optimizer Control Script -->
<script>
    function utmx_section() { } function utmx() { }
    (function () {
        var k = '2210472962', d = document, l = d.location, c = d.cookie; function f(n) {
            if (c) {
                var i = c.indexOf(n + '='); if (i > -1) {
                    var j = c.indexOf(';', i); return escape(c.substring(i + n.
length + 1, j < 0 ? c.length : j))
                } 
            } 
        } var x = f('__utmx'), xx = f('__utmxx'), h = l.hash;
        d.write('<sc' + 'ript src="' +
'http' + (l.protocol == 'https:' ? 's://ssl' : '://www') + '.google-analytics.com'
+ '/siteopt.js?v=1&utmxkey=' + k + '&utmx=' + (x ? x : '') + '&utmxx=' + (xx ? xx : '') + '&utmxtime='
+ new Date().valueOf() + (h ? '&utmxhash=' + escape(h.substr(1)) : '') +
'" type="text/javascript" charset="utf-8"></sc' + 'ript>')
    })();
</script>
<!-- End of Google Website Optimizer Control Script -->
<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['gwo._setAccount', 'UA-21394448-3']);
    _gaq.push(['gwo._trackPageview', '/2210472962/test']);
    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- End of Google Website Optimizer Tracking Script -->
}